<div>
  <label for="execution-key">Execution Key</label>
  {{input
    value=executionKey
    id="execution-key"
  }}
</div>

<div>
  <label for="modifier-keys">Modifier Keys</label>
  {{input
    value=modifierKeys
    name="modifier-keys"
  }}
</div>

<div>
  <label for="priority">Priority</label>
  {{input
    value=priority
    type="number"
    name="priority"
  }}
</div>

<div>
  <label for="key-event">Key Event</label>
  <button {{action (mut keyEvent) "keydown"}}>
    Key Down {{if isKeydown " - selected"}}
  </button>

  <button {{action (mut keyEvent) "keyup"}}>
    Key Up {{if isKeydown "" " - selected"}}
  </button>
</div>

<div>
  <label for="group-name">Group Name</label>
  {{input
    value=groupName
    name="group-name"
  }}
</div>

<div>
  <button
    disabled={{hasNoExecutionKey}}
    {{action "addMacro" (hash executionKey=executionKey modifierKeys=modifierKeys priority=priority keyEvent=keyEvent groupName=groupName)}}
  >
    Add Macro
  </button>
</div>

<div>
  <button
    disabled={{hasNoMacro}}
    {{action "removeMacro" macro}}
  >
    Remove Macro
  </button>
</div>

<div>
  {{callbackMessage}}
</div>
