<div>
  <label for="execution-key">Execution Key</label>
  <input
    value={{this.executionKey}}
    id="execution-key"
  />
</div>

<div>
  <label for="modifier-keys">Modifier Keys</label>
  <input
    value={{this.modifierKeys}}
    name="modifier-keys"
  />
</div>

<div>
  <label for="priority">Priority</label>
  <input
    value={{this.priority}}
    type="number"
    name="priority"
  />
</div>

<div>
  <label for="key-event">Key Event</label>
  <button type="button" {{on "click" (fn (mut this.keyEvent) "keydown")}}>
    Key Down {{if this.isKeydown " - selected"}}
  </button>

  <button type="button" {{on "click" (fn (mut this.keyEvent) "keyup")}}>
    Key Up {{if this.isKeydown "" " - selected"}}
  </button>
</div>

<div>
  <label for="group-name">Group Name</label>
  <input
    value={{this.groupName}}
    name="group-name"
  />
</div>

<div>
  <button
    type="button" 
    disabled={{this.hasNoExecutionKey}}
    {{on "click"  (fn this.addMacro (hash executionKey=this.executionKey modifierKeys=this.modifierKeys priority=this.priority keyEvent=this.keyEvent groupName=this.groupName))}}
  >
    Add Macro
  </button>
</div>

<div>
  <button
    type="button" 
    disabled={{this.hasNoMacro}}
    {{on "click" (fn "removeMacro" this.macro)}}
  >
    Remove Macro
  </button>
</div>

<div>
  {{this.callbackMessage}}
</div>
